input {
    width: 100%;
}
#addNewsEntryFrame {
    display: flex;
    flex-direction: column;
}
#addNewsEntryInputFrame {
    display: flex;
    margin-top: 14px;
    margin-bottom: 7px;
    justify-content: space-between;
    width: 100%;
}
#btAddImage {
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 9px; */
}
#btAddImage:hover {
    background-color: grey;
    border-radius: 4px;
}
.btContainer {
    margin-top: 39px;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btPublish {
    margin-left: 14px;
}