.btContainer {
    margin: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    margin-top: 19px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newsContainer {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}