.cbShowMore {
    margin-top:19px;
}
.developerToolsFrame {
    display: flex;
    flex-direction: column;
    padding: 19px;
}
.IdDisplay {
    display: flex;
    cursor: pointer;
}
.IdLabel {
    margin-right: 12px;
}
.IdCopiedLabel {
    margin-left: 12px;
}
.selectBackend {
    display: flex;
}
.selectButton {
    margin-left: 9px;
}