.cbShowMore {
    margin-top:19px;
}
.developerToolsFrame {
    display: flex;
    flex-direction: column;
    padding: 19px;
}
.tappIdDisplay {
    display: flex;
    cursor: pointer;
}
.tappIdLabel {
    margin-right: 12px;
}
.tappIdCopiedLabel {
    margin-left: 12px;
}